/*
Box Sizing via http://tachyons.io/docs/layout/box-sizing/
*/

html,
body,
div,
article,
section,
main,
footer,
header,
form,
fieldset,
pre,
code,
p,
ul,
ol,
li,
dl,
dt,
dd,
textarea,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="url"],
.border-box {
box-sizing: border-box;
}

html,
body,
.vh100 {
  min-height: 100vh;
}
@media(min-width: 40em) {
  .sm-vh100 { min-height: 100vh; }
}

@media(max-height: 400px) {
  .minh-400px { min-height: 400px; }
}

body, .h0, h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Fira Sans',
  'Droid Sans',
  'Helvetica Neue',
  sans-serif;
}

.container { max-width: 76em; }

.fullScreenPic {
  position: relative;
  background-size: cover;
  background-position: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.logo {
  position: absolute;
  height: 200px;
  background-image: url(../images/Azellaz_logo.png);
  background-position: bottom;
}

.logoImage { background-image: url(../images/Azellaz_logo.png); }

.background-center { background-position: center; }

.mainBag { background-image: url(../images/optzilla/main_bag-min.jpg); }

.serif { font-family: Athelas, Georgia, serif; }

.border-red { border-color: #FF4136; }
.border-blue { border-color: #0074D9 }
.border-black { border-color: #000 }
.hover-underline:hover { text-decoration: underline; }
.hover-no-underline:hover { text-decoration: none; }

.fw200 {
  font-weight: 200;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.pb4 { padding-bottom: 4rem; }

.my2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt10 { margin-top: 10rem; }
.mb10 { margin-bottom: 10rem; }
.mtn8 { margin-top: -8rem; }
.mtn2 { margin-top: -1rem; }
.mtn3 { margin-top: -2rem; }
.mtn4 { margin-top: -3rem; }
.mtn5 { margin-top: -4rem; }
.mbn25 { margin-bottom: -0.25rem; }
.mbn1 { margin-bottom: -.5rem; }
@media(min-width: 40em) {
  .sm-mt4 { margin-top: 4rem; }
  .sm-mb4 { margin-bottom: 4rem; }
}

.btn-blue {
  color: #fff;
  background-color: rgb(103,151,171);
  border-radius: 3px;
}

.btn-white {
  color: rgb(103,151,171);
  background-color: #fff;
  border-radius: 3px;
}

.justify-center { justify-content: center; }

.align-center { align-content: center; }

.align-items-center { align-items: center; }

.align-start { align-items: flex-start; }

.grow { flex-grow: 1; }

.bagBlue { color: rgb(146,190,209); }

.bagBlue2 { color: rgb(80,121,140); }

.bagBlue3 { color: rgb(103,151,171); }

.h0 { font-size: 2.5rem; }
.h00 { font-size: 2.25rem; }
@media(min-width: 40em) {
  .h00 { font-size: 3rem; }
}

.small-caps { font-variant-caps: small-caps; }

@media(min-width: 40em) {
  .sm-py2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .sm-py3 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media(min-width: 52em) {
  .md-py4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.top-50per { top: 50%; }
.bottom-50per { bottom: 50%; }
.bottom-45per { bottom: 45%; }

.bg-gray { background-color: rgb(227, 227, 227); }
.border-gray { border-color: rgb(227, 227, 227); }
.border-black { border-color: #111; }
.border-silver { border-color: #ddd; }
.border-dark-gray { border-color: #aaa; }
.dark-gray { color: #aaa; }

.lh1 { line-height: 1; }

.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-center { justify-content: center; }
.justify-end { justify-content: flex-end; }

.pointer { cursor: pointer; }
.cursor-default { cursor: default; }

.left-32 { left: 32px; }

.is-active {
  box-shadow: inset 0 0 0 20rem rgba(0,0,0,.125),inset 0 3px 4px 0 rgba(0,0,0,.25),0 0 1px rgba(0,0,0,.125);
}

.pb1 { padding-bottom: .5rem; }
.pt1 { padding-top: .5rem; }
.pt2 { padding-top: 1rem; }
.pt3 { padding-top: 2rem; }
.pt4 { padding-top: 2rem; }
.pl3 { padding-left: 2rem; }
.pbQuart { padding-bottom: .25rem; }

.transparent { color: transparent; }

.border-2px { border-width: 2px; }

.lazyload,
.lazyloading {
    min-height: 200px;
}


.flex-row { flex-direction: row; }

.order0 { order: 0; }
.order1 { order: 1; }

.maxw-300px {
  width: 300px;
  max-width: 300px;
}

.maxw-25rem { max-width: 25rem; }

.w-45px { width: 45px; }
.w-55px { width: 55px; }

@media (min-width:40em) {
  .sm-btn-hero {
    /*border: 1px solid black;*/
    line-height: 1.125em;
    /*padding: .75rem 1.25rem;*/
  }
}

@media (min-width: 40em) and (min-height: 36.75em) {
  .smxsm-py4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .smxsm-mb10 { margin-bottom: 10rem; }
}

@media (min-width:40em) {
  .sm-vh100 { min-height: 100vh; }
  .sm-block { display: block; }
  .sm-h2 { font-size: 1.5rem; }
  .sm-h3 { font-size: 1.25rem; }
  .sm-h4 { font-size: 1rem; }
  .sm-lh1 { line-height: 1; }
  .sm-lh1point5 { line-height: 1.5; }
  .sm-border-bottom {
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:rgba(0,0,0,.125);
  }
  .sm-pbQuart { padding-bottom: .25rem; }
  .sm-px2 {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .sm-py4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .sm-m0 { margin: 0; }
  .sm-mr2 { margin-right: 1rem; }
  .sm-mb0 { margin-bottom: 0; }
  .sm-mb1 { margin-bottom: .5rem; }
  .sm-ml3 { margin-left: 2rem; }
  .sm-right-align { text-align: right; }
  .sm-left-align { text-align: left; }
  .sm-flex { display:flex;}
  .sm-align-start { align-items: flex-start; }
  .sm-justify-around { justify-content: space-around; }
  .sm-justify-between { justify-content: space-between; }
  .sm-justify-center { justify-content: center; }
  .sm-order0 { order: 0; }
  .sm-order1 { order: 1; }
  .sm-order2 { order: 2; }
  .sm-flex-row { flex-direction: row; }
  .sm-flex-column { flex-direction: column; }
  .sm-flex-center {
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
  }
  .sm-flex-shrink {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

@media (min-width:52em) {
  .md-px2 {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .md-w-55px { width: 55px; }
  .md-flex { display:flex;}
  .md-align-start { align-items: flex-start; }
  .md-justify-between { justify-content: space-between; }
  .md-flex-row { flex-direction: row; }
  .md-flex-column { flex-direction: column; }
}

@media (min-width:76em) {
  .lg-ml0 { margin-left: 0; }
}
