---
permalink: /about/
---
<!DOCTYPE html>
<html lang="en-US">

  {% include head.html %}
  <body>

    {% include header.html %}

    <section>
      <div class="container">
        <div class="mb3 light-black">
          <div class="sm-mx-auto sm-col-6">
            <div class="p2">
              <img src="/{{ site.images_dir }}Azellaz-work-bench.jpg" alt="Azellaz work bench" title="Azellaz work bench">
              <h1 class="center serif">About Azellaz</h1>
              <p class="serif">Azellaz produces handmade bags in Baltimore, Maryland. We have a strong commitment to quality materials and are guided by the desire to create functional, beautiful bags that delight as they assist in your everyday adventures. Most pieces are dyed by hand with natural dyes, and waxed by hand with beeswax (white or yellow), before sewing.</p>
            </div>
          </div>
          <div class="sm-mx-auto sm-col-6">
            <div class="p2">
              <h2 class="h1 mt0 center serif">Caring for your Bag</h2>
              <p class="serif">Waxed canvas wears a bit like leather; its qualities change over time, softening and developing a shiny patina. If your bag becomes too soft for your liking, you can stiffen it up by heating the canvas with a hair dryer. Hold the heat on each area until it darkens a bit, then reshape and allow to cool. This will also get rid of any scuff marks or creases. After a couple years of regular wear, your bag may benefit from a re-application of wax. If you’d like me to perform this service for a small fee, please get in touch!</p>
              <p class="serif">Waxed canvas will repel liquids, preventing many stains before they happen. However, if your bag does become soiled, first try brushing the area with a dry, natural bristle brush. If this doesn’t work, you may use some castile soap with a bit of cold water and either a lint- free cloth or a soft bristle brush to scrub the stain out. After drying, the area may benefit from a re-application of wax.</p>
              <p class="serif">Treat the leather as you would any other leather items, conditioning every 6 months - 1 year, and spot cleaning sparingly with saddle soap.</p>
            </div>
          </div>
          <div class="sm-mx-auto sm-col-6">
            <div class="p2">
              <h2 class="h1 mt0 center serif">Guarantee</h2>
              <p class="serif">If for any reason you are not satisfied with the durability of your bag, please let me know and I will do my best to fix the issue or replace your bag. I have put a lot of thought and care into making a durable bag, so I want to know if anything goes wrong so I that I can address it in future designs!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include footer.html %}

  </body>

</html>
