---
permalink: /about/
---
<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/css/dist/basscss@7.1.1.min.css">
    <link rel="stylesheet" href="/css/dist/font-awesome@4.7.0.CUSTOM.css">
    <link rel="stylesheet" href="/css/dist/az.css">
    <title>Azellaz</title>
    <meta name="description" content="">
    <meta name="author" content="Abbie Zelip">
    <meta name="author" content="Brian Zelip">
    <meta name="keywords" content="">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@AbiSackmann">
    <meta name="twitter:title" content="About Azellaz">
    <meta name="twitter:image:alt" content="Azellaz workspace">
    <meta name="twitter:description" content="About Azellaz.com, including tips on caring for your bag made by Azellaz.">
    <meta name="twitter:image" content="{{ site.base_url }}{{ site.images_dir }}workspace_3.JPG">
    <meta property="og:url" content="{{ site.base_url }}about/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="About Azellaz" />
    <meta property="og:description" content="About Azellaz.com, including tips on caring for your bag made by Azellaz." />
    <meta property="og:image" content="{{ site.base_url }}{{ site.images_dir }}workspace_3.JPG" />
  </head>

  <body>

    {% include header-product.html %}

    <section>
      <div class="container">
        <div class="mb3 light-black">
          <div class="sm-mx-auto sm-col-6">
            <div class="p2">
              <img src="/images/launch-photos-edited-imageOptimized/workspace_3.JPG" alt="Azellaz work bench" title="Azellaz work bench">
              <h1 class="center serif">About Azellaz</h1>
              <p class="serif">Azellaz produces handmade bags in Baltimore, Maryland. We have a strong commitment to quality materials and are guided by a desire to create functional, beautiful bags that delight as they assist you in your everyday adventures. Most pieces are dyed by hand with natural dyes and waxed by hand with beeswax (white or yellow) before being sewn up.</p>
            </div>
          </div>
          <div class="sm-mx-auto sm-col-6">
            <div class="p2">
              <h2 class="h1 mt0 center serif">Caring for your Bag</h2>
              <p class="serif">Waxed canvas wears a bit like leather; its qualities change over time, softening and developing a shiny patina. If your bag becomes too soft for your liking, you can stiffen it up by heating the canvas with a hair dryer. Hold the heat on each area until it darkens a bit, then reshape and allow to cool. This will also get rid of any scuff marks or creases.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include footer.html %}

  </body>

</html>
