---
---
<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/css/dist/basscss@7.1.1.min.css">
    <link rel="stylesheet" href="/css/dist/ihover.CUSTOM.css">
    <link rel="stylesheet" href="/css/dist/font-awesome@4.7.0.CUSTOM.css">
    <link rel="stylesheet" href="/css/dist/az.css">
    <title>Azellaz</title>
    <meta name="description" content="">
    <meta name="author" content="Abbie Zelip">
    <meta name="author" content="Brian Zelip">
    <meta name="keywords" content="">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@AbiSackmann">
    <meta name="twitter:title" content="Azellaz">
    <meta name="twitter:image:alt" content="{{ site.tagline }}">
    <meta name="twitter:description" content="{{ site.tagline }}">
    <meta name="twitter:image" content="{{ site.base_url }}{{ site.images_dir }}IMG_0535.JPG">
    <meta property="og:url" content="{{ site.base_url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Azellaz" />
    <meta property="og:description" content="{{ site.tagline }}" />
    <meta property="og:image" content="{{ site.base_url }}{{ site.images_dir }}IMG_0535.JPG" />
  </head>

  <body>

    <div class="ie-FlexContainerWrapper">
      <section class="fullScreenPic mainBag vh100 z1 flex flex-column justify-between">

        {% include header-index.html %}
        {% include hero.html %}

      </section>
    </div>

    {% include shop.html %}
    {% include footer.html %}
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/imagesloaded.min.js"></script>
    <script src="js/smoothscroll.min.js"></script>
    <script src="js/az.js"></script>

  </body>

</html>
