---
---
<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="css/basscss@7.1.1.min.css">
    <link rel="stylesheet" href="css/ihover.CUSTOM.css">
    <link rel="stylesheet" href="css/font-awesome@4.7.0.CUSTOM.css">
    <link rel="stylesheet" href="css/az.css">
    <!-- <script src="js/lazysizes.min.js"></script>
    <script>
      lazySizes.init();
    </script> -->
    <title>Azellaz</title>
    <meta name="description" content="">
    <meta name="author" content="Abbie Zelip">
    <meta name="author" content="Brian Zelip">
    <meta name="keywords" content="">
  </head>

  <body>

    <section class="fullScreenPic mainBag minh-400px vh100 z1">

      {% include nav-index.html %}
      <div class="vh100 mtn8 flex flex-column flex-center justify-center">
        <div class="mtn5 center">
          <p class="h0 mt0 white serif lh1">Waxed<br>Canvas<br>Duffle</p>
          <a href="/" class="btn btn-white h3 fw200">More Info</a>
        </div>
      </div>

    </section>

    <section id="shop" class="sm-vh100 py3 md-py4">
      <div class="container">

        {% include iso-filter-buttons.html %}
        {% include iso-grid.html %}
      </div>
    </section>

    <div id="logo" class="lg-show fixed bottom-45per left-0 p2" style="width: 75px;">
      <img src="images/Azellaz_Logo_Soft_Black_v6.svg" alt="">
    </div>

    {% include footer.html %}
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/imagesloaded.min.js"></script>
    <script src="js/smoothscroll.min.js"></script>
    <script src="js/az.js"></script>

  </body>

</html>
