<header class="container flex flex-start justify-between py2">
        <div>
          <a href="/">
            <img src="images/Azellaz_Logo_{% if page.layout == 'blog' %}Soft_Black{% else %}White{% endif %}_v6.svg" class="m0 absolute" width="55px" alt="">
          </a>
        </div>
        <h1 class="hide">Azellaz</h1>
        <nav class="flex flex-justify right-0">
          <div class="pointer mr2">
            <a href="#shop" id="goToShop" class="btn regular btn-outline {% if page.layout == 'blog' %}black{% else %}white{% endif %}">shop</a>
          </div>
          <div class="pointer">
            <a href="#" class="btn regular {% if page.layout == 'blog' %}black{% else %}white{% endif %} hover-underline">about</a>
          </div>
          <div class="pointer">
            <a href="#" class="btn regular {% if page.layout == 'blog' %}black{% else %}white{% endif %} hover-underline">contact</a>
          </div>
        </nav>
      </header>
