/*
Box Sizing via http://tachyons.io/docs/layout/box-sizing/
*/

html,
body,
div,
article,
section,
main,
footer,
header,
form,
fieldset,
pre,
code,
p,
ul,
ol,
li,
dl,
dt,
dd,
textarea,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="url"],
.border-box {
box-sizing: border-box;
}

html,
body,
.vh100 {
  min-height: 100vh;
}
@media(min-width: 40em) {
  .sm-vh100 { min-height: 100vh; }
}

@media(max-height: 400px) {
  .minh-400px { min-height: 400px; }
}

body, .h0, h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Fira Sans',
  'Droid Sans',
  'Helvetica Neue',
  sans-serif;
}

.container {
  max-width: 76em;
  margin-right: auto;
  margin-left: auto;
}

.fullScreenPic {
  position: relative;
  background-size: cover;
  background-position: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.logo {
  position: absolute;
  height: 200px;
  background-image: url(/images/Azellaz_logo.png);
  background-position: bottom;
}

.logoImage { background-image: url(/images/Azellaz_logo.png); }

.background-center { background-position: center; }

.mainBag { background-image: url(/images/optzilla/main_bag-min.jpg); }

.serif { font-family: Athelas, Georgia, serif; }

.border-red { border-color: #FF4136; }
.border-blue { border-color: #0074D9 }
.border-black { border-color: #000 }
.hover-underline:hover { text-decoration: underline; }
.hover-no-underline:hover { text-decoration: none; }

.fw200 {
  font-weight: 200;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.shop-fixed-logo-show { display:none!important; }
@media (min-width: 84.375em) {
  .shop-fixed-logo-show { display: block!important; }
}/* minimum width to show fixed shop logo; 84.375em = 1350px = .container size (76rem) + 75px(75px=logo hard coded width)*2 (account for left and right container gutters)*/

.height2r { height: 2rem; }

.px1 {
  padding-right: .5rem;
  padding-left: .5rem;
}

.pb4 { padding-bottom: 4rem; }

.my2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt10 { margin-top: 10rem; }
.mb10 { margin-bottom: 10rem; }
.mtn8 { margin-top: -8rem; }
.mtn2 { margin-top: -1rem; }
.mtn3 { margin-top: -2rem; }
.mtn4 { margin-top: -3rem; }
.mtn5 { margin-top: -4rem; }
.mbn25 { margin-bottom: -0.25rem; }
.mbn1 { margin-bottom: -.5rem; }
@media(min-width: 40em) {
  .sm-mt0 { margin-top: 0; }
  .sm-mt4 { margin-top: 4rem; }
  .sm-mb4 { margin-bottom: 4rem; }
}
.mx1 {
  margin-right: .5rem;
  margin-left: .5rem;
}

.btn-blue {
  color: #fff;
  background-color: rgb(103,151,171);
  border-radius: 3px;
}

.btn-white {
  color: rgb(103,151,171);
  background-color: #fff;
  border-radius: 3px;
}

.justify-start { justify-content: flex-start; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-end { justify-content: flex-end; }

.align-center { align-content: center; }

.align-items-center { align-items: center; }

.align-start { align-items: flex-start; }

.align-items-start { align-items: flex-start; }
.align-items-end { align-items: flex-end; }

.grow { flex-grow: 1; }

.bagBlue { color: rgb(146,190,209); }

.bagBlue2 { color: rgb(80,121,140); }

.bagBlue3 { color: rgb(103,151,171); }

.navy { color: rgb(36, 56, 83); }

.h0 { font-size: 2.5rem; }
.h00 { font-size: 2.25rem; }
@media(min-width: 40em) {
  .h00 { font-size: 3rem; }
}

.small-caps { font-variant-caps: small-caps; }

@media(min-width: 40em) {
  .sm-py2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .sm-py3 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media(min-width: 52em) {
  .md-py4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.top-50per { top: 50%; }
.bottom-50per { bottom: 50%; }
.bottom-45per { bottom: 45%; }

.bg-gray { background-color: rgb(227, 227, 227); }
.border-gray { border-color: rgb(227, 227, 227); }
.border-black { border-color: #111; }
.border-silver { border-color: #ddd; }
.border-dark-gray { border-color: #aaa; }
.dark-gray { color: #aaa; }
.light-black { color: #3a3a3a; }

.border-thin { border-width: .5rem; }
.border-thick { border-width: 1rem; }
.border-navy { border-color: rgb(36, 56, 83); }
.border-mustard { border-color: rgb(168, 120, 38); }

.lh1 { line-height: 1; }

.pointer { cursor: pointer; }
.cursor-default { cursor: default; }

.left-32 { left: 32px; }

.is-active,
.is-active:hover,
.is-active:focus {
  box-shadow: inset 0 0 0 20rem rgba(0,0,0,.125),inset 0 3px 4px 0 rgba(0,0,0,.25),0 0 1px rgba(0,0,0,.125);
}
.is-active:hover { cursor: default; }

.pb1 { padding-bottom: .5rem; }
.pt1 { padding-top: .5rem; }
.pt2 { padding-top: 1rem; }
.pt3 { padding-top: 2rem; }
.pt4 { padding-top: 2rem; }
.pl3 { padding-left: 2rem; }
.pbQuart { padding-bottom: .25rem; }
.py-quarter {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.transparent { color: transparent; }

.border-2px { border-width: 2px; }

.lazyload,
.lazyloading {
    min-height: 200px;
}


.flex-row { flex-direction: row; }

.order0 { order: 0; }
.order1 { order: 1; }

.maxw-300px {
  width: 250px;
  max-width: 300px;
}

.maxw-25rem { max-width: 25rem; }

.w-45px { width: 45px; }
.w-55px { width: 55px; }

.x-btn-group > .btn + .btn { margin-left: -1px; }

.before-cross::before {
  content: "Cross "
}
@media (min-width: 20rem) {
  .before-cross::before {
    content: "Cross"
  }
}

.btn-hero {
  line-height: 1.125em;
}
@media (min-height: 30em) {
  .btn-hero { margin-bottom: 3rem; }
}
@media (min-height: 40em) {
  .btn-hero { margin-bottom: 5rem; }
}
@media (min-width: 40em) and (min-height: 36.75em) {
  .btn-hero { margin-bottom: 10rem; }
}
@media (min-width: 40em) and (min-height: 50em) {
  .btn-hero { margin-bottom: 13rem; }
}
@media (min-width: 40em) and (min-height: 68em) {
  .btn-hero {
    margin-top: 10rem;
    margin-bottom: 20rem;
  }
}

@media (max-width: 30em) {
  .btn-small {
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-right: .5rem;
    padding-left: .5rem;
  }
}

@media (min-width: 40em) and (min-height: 36.75em) {
  .smxsm-py4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.product-thumbs { vertical-align: bottom; }
@media (min-width: 40em) {
  .product-thumbs { vertical-align: top; }
}

.thumb-border { border: 3px solid rgb(36, 56, 83); }

@media (min-width:40em) {
  .sm-width-auto { width: auto; }
  .sm-block { display: block; }
  .sm-h2 { font-size: 1.5rem; }
  .sm-h3 { font-size: 1.25rem; }
  .sm-h4 { font-size: 1rem; }
  .sm-lh1 { line-height: 1; }
  .sm-lh1point5 { line-height: 1.5; }
  .sm-border-bottom {
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:rgba(0,0,0,.125);
  }
  .sm-p1 { padding: .5rem; }
  .sm-pbQuart { padding-bottom: .25rem; }
  .sm-px2 {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .sm-py4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .sm-m0 { margin: 0; }
  .sm-mr2 { margin-right: 1rem; }
  .sm-mb0 { margin-bottom: 0; }
  .sm-mb1 { margin-bottom: .5rem; }
  .sm-ml3 { margin-left: 2rem; }
  .sm-mt4 { margin-top: 4rem; }
  .sm-mx-auto {
    margin-right: auto;
    margin-left: auto;
  }
  .sm-right-align { text-align: right; }
  .sm-left-align { text-align: left; }
  .sm-flex { display:flex;}
  .sm-align-start { align-items: flex-start; }
  .sm-justify-start { justify-content: flex-start; }
  .sm-justify-around { justify-content: space-around; }
  .sm-justify-between { justify-content: space-between; }
  .sm-justify-center { justify-content: center; }
  .sm-order0 { order: 0; }
  .sm-order1 { order: 1; }
  .sm-order2 { order: 2; }
  .sm-flex-row { flex-direction: row; }
  .sm-flex-column { flex-direction: column; }
  .sm-flex-center {
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
  }
  .sm-flex-grow {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
  .sm-flex-shrink {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
}

@media (min-width: 40em) and (min-height: 68em) {
  .sm-x-tall--justify-center { justify-content: center; }
}

@media (min-width:52em) {
  .md-mt4 { margin-top: 4rem; }
  .md-px2 {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .md-width-auto { width: auto; }
  .md-w-55px { width: 55px; }
  .md-flex { display:flex;}
  .md-align-start { align-items: flex-start; }
  .md-justify-start { justify-content: flex-start; }
  .md-justify-between { justify-content: space-between; }
  .md-flex-row { flex-direction: row; }
  .md-flex-column { flex-direction: column; }
}

@media (min-width:76em) {
  .lg-ml0 { margin-left: 0; }
}

/* ie 11 hacks, via https://github.com/philipwalton/flexbugs */

/* 2. Column flex items set to align-items:center overflow their container */
/* Flexbug demo 2.1.b (workaround) */
/* When using align-items:center on a flex container in the column direction, the contents of flex item, if too big, will overflow their container in IE 10-11.*/
/* Most of the time, this can be fixed by simply setting max-width:100% on the flex item. If the flex item has a padding or border set, you'll also need to make sure to use box-sizing:border-box to account for that space. If the flex item has a margin, using box-sizing alone will not work, so you may need to use a container element with padding instead. */
.ie-border-box { box-sizing: border-box; } /* 2 */
.ie-max-w-100per { max-width: 100%; } /* 1 */

/* 3. min-height on a flex container won't apply to its flex items */
/* Flexbug demo 3.2.b — workaround */
/* For cases where min-height is required, the workaround is to add a wrapper element around the flex container that is itself a flex container in the column direction. For some reason nested flex containers are not affected by this bug. Demo 3.2.a shows a visual design where min-height is required, and demo 3.2.b shows how this bug can be avoided with a wrapper element. */
/*
.FlexContainerWrapper {
  display: flex;
  flex-direction: column;
}                          /* 1 */ /*

.FlexContainer {
  align-items: center;
  background: hsla(0,0%,0%,.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
  padding: 2em;
  min-height: 250px;
  width: 400px;
}

.FlexItem {
  background: hsla(0,0%,0%,.1);
  box-sizing: border-box; /* 1 */ /*
  max-width: 100%; /* 1 */ /*
  padding: 0 1em;
}
*/

.ie-FlexContainerWrapper {
  display: flex;
  flex-direction: column;
}

/*
  NOTE: the situations the above hack pertains to are:
    - .vh100 [completed (a few instances)]
    - .minh-400px [completed (no instances)]
    - .lazyload [completed (no instances)]
*/

/* THE ABOVE CLASSES COVER THE NECESSARY CLASSES FOR THIS BUG, DON'T FORGET THE FLEX CONTAINER WRAPPER!!
box-sizing: border-box; /* 1 */ /*
max-width: 100%; /* 1 */ /*
*/


/* 4. flex shorthand declarations with unitless flex-basis values are ignored */
/* Flexbug demo 4.1.b — workaround */
/* When using the flex shorthand, always include a unit in the flex-basis portion. For example: 1 0 0%.

Important: using a flex value of something like 1 0 0px can still be a problem because many CSS minifiers will convert 0px to 0. To avoid this, make sure to use 0% instead of 0px since most minifiers won't touch percentage values for other reasons. */
/*
/**
 * Flexbug demo 4.1.a (workaround)
 *
 * 1. Always add a unit to `flex-basis`
 *    values. Note, prefer `0%` to `0px`
 *    since some minifiers will convert
 *   `0px` to just `0`.
 */ /*

.FlexContainer {
  display: flex;
}
.FlexItem {
  flex: 1 0 0%; /* 1 */ /*
}
*/


/* 5. Column flex items don't always preserve intrinsic aspect ratios */
/* Flexbug demo 5.1.b — workaround */
/* You can avoid this problem by adding a container element to house the element with the intrinsic aspect ratio. Since doing this causes the element with the intrinsic aspect ratio to no longer be a flex item, it will be sized normally. */
/**
 * Flexbug #5 (workaround)
 *
 * 1. Add a wrapper element to house
 *    the element with an intrinsic
 *    aspect ratio.
 * 2. Flexbug #2 workaround.
 */

/*.FlexContainer {
  background: hsla(0,0%,0%,.1);
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 1em;
  width: 300px;
}*/


.ie-FlexItem { /* 1 */
  flex-shrink: 0; /* 2 */
} /* IS THIS HACK NECESSARY FOR MY CODE? MAYBE TRY USING THE STYLES BELOW TOO? */

.ie-FlexItem img {
  height: auto;
  width: 100%;
}

/* 6. The default flex value has changed */
/* If you have to support IE 10, the best solution is to always set an explicit flex-shrink value on all of your flex items, ... */

/* not supporting ie 10 for the MVP launch */

/* 7. flex-basis doesn't account for box-sizing:border-box */
/*  */
