.px1 {
  padding-right: .5rem;
  padding-left: .5rem;
}

.pb4 { padding-bottom: 4rem; }

.my2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt10 { margin-top: 10rem; }
.mb10 { margin-bottom: 10rem; }
.mtn8 { margin-top: -8rem; }
.mtn2 { margin-top: -1rem; }
.mtn3 { margin-top: -2rem; }
.mtn4 { margin-top: -3rem; }
.mtn5 { margin-top: -4rem; }
.mbn25 { margin-bottom: -0.25rem; }
.mbn1 { margin-bottom: -.5rem; }
@media(min-width: 40em) {
  .sm-mt0 { margin-top: 0; }
  .sm-mt4 { margin-top: 4rem; }
  .sm-mb4 { margin-bottom: 4rem; }
}
.mx1 {
  margin-right: .5rem;
  margin-left: .5rem;
}

@media(min-width: 40em) {
  .sm-py2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .sm-py3 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media(min-width: 52em) {
  .md-py4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}


.pb1 { padding-bottom: .5rem; }
.pt1 { padding-top: .5rem; }
.pt2 { padding-top: 1rem; }
.pt3 { padding-top: 2rem; }
.pt4 { padding-top: 2rem; }
.pl3 { padding-left: 2rem; }
.pbQuart { padding-bottom: .25rem; }
.py-quarter {
  padding-top: .25rem;
  padding-bottom: .25rem;
}
