<footer class="bg-gray px2">
  <div class="py4">

    <div class="container flex align-start justify-between">
      <div class="flex flex-column ">
        <p class="m0 pbQuart mb1 h2 border-bottom fw200">Azellaz</p>
        <p class="m0 h5 fw200">Quality bags made from scratch in Baltimore.</p>
        <p class="m0 h5 fw200">&copy; 2017, Powered by Snipcart</p>
      </div>
      <!--<div class="px2" style="width: 75px;">
        <img src="images/Azellaz_Logo_Soft_Black_v6.svg" alt="">
      </div>-->
      <nav id="contact">
        <p class="m0 pbQuart mb1 h2 right-align border-bottom fw200"><span class="h3">Contact us</span></p>
        <ul class="list-reset m0 flex flex-center justify-between">
          <li class="">
            <a href="" class="h5 fw200 black">Etsy</a>
          </li>
          <li class="ml3">
            <a href="" class="h5 fw200 black">Instagram</a>
          </li>
          <li class="ml3">
            <a href="" class="h5 fw200 black">Facebook</a>
          </li>
          <li class="ml3">
            <a href="https://github.com/brianzelip/Azellaz.com" class="h5 fw200 black">GitHub</a>
          </li>
          <li class="ml3">
            <a href="" class="h5 fw200 black">more...</a>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</footer>
