<footer class="bg-gray px3 md-px2">
      <div class="py4">

        <div class="container flex flex-row align-start sm-justify-between">
          <div class="flex flex-column">
            <p class="sm-m0 pbQuart mb1 h2 border-bottom fw200">Azellaz</p>
            <p class="sm-m0 h5 fw200">Quality bags made from scratch in Baltimore.</p>
            <p class="sm-m0 h5 fw200">Site powered by <a href="https://snipcart.com" class="black">Snipcart</a>, <a href="https://stripe.com" class="black">Stripe</a>, and <a href="https://netlify.com" class="black">Netlify</a>.</p>
            <p class="m0 h5 fw200">&copy; 2017 Azellaz</p>
          </div>
          <!--<div class="px2" style="width: 75px;">
            <img src="images/Azellaz_Logo_Soft_Black_v6.svg" alt="">
          </div>-->
          <nav id="contact" class="col-6-hack flex-grow sm-flex-shrink">
            <p class="m0 pbQuart mb1 h2 right-align border-bottom fw200"><span class="h3">Contact us</span></p>
            <ul class="list-reset m0 flex flex-column sm-flex-row sm-flex-center sm-justify-between right-align">
              <li class="">
                <a href="" class="h5 fw200 black">Etsy</a>
              </li>
              <li class="sm-ml3">
                <a href="" class="h5 fw200 black">Instagram</a>
              </li>
              <li class="sm-ml3">
                <a href="" class="h5 fw200 black">Facebook</a>
              </li>
              <li class="sm-ml3">
                <a href="https://github.com/brianzelip/Azellaz.com" class="h5 fw200 black">GitHub</a>
              </li>
              <li class="sm-ml3">
                <a href="" class="h5 fw200 black">more...</a>
              </li>
            </ul>
          </nav>
        </div>

      </div>
    </footer>
