<header class="col-12 p2 container flex align-items-center justify-center sm-align-start sm-justify-between">

        <div class="sm-show">
          <a href="/">
            <img src="/images/Azellaz_Logo_Soft_Black_v6.svg" class="w-45px md-w-55px" alt="">
          </a>
        </div>

        <nav class="flex flex-center">
          <div class="flex justify-between align-items-center">
            <div class="sm-hide">
              <!-- this gets replaced with AZ logo when ready -->
              <h1 class="btn m0 h2 cursor-default white">[AZ]</h1>
            </div>
            <div class="pointer sm-mr2">
              <a href="/index.html#shop" class="btn regular btn-outline h5 sm-h4 black">shop</a>
            </div>
            <div class="pointer">
              <a href="/about" class="btn regular h5 sm-h4 black hover-underline">about</a>
            </div>
            <div class="pointer">
              <a href="/contact" class="btn regular h5 sm-h4 black hover-underline">contact</a>
            </div>
          </div>
        </nav>

      </header>
