<header class="col-12 p2 container flex align-items-center justify-center sm-align-start sm-justify-between">

        <div class="sm-show">
          <a href="/">
            <img src="/images/Azellaz_Logo_White_v6.svg" class="w-45px md-w-55px" alt="Azellaz logo" title="Azellaz large vertical logo">
          </a>
        </div>

        <nav class="flex flex-center">
          <div class="flex justify-between align-items-center">
            <div class="sm-hide">
              <a href="/">
                <img src="/images/Azellaz_logo_short_white_by_Thom_01.svg" alt="Azellaz logo" title="Azellaz small horiontal logo" class="btn height2r">
              </a>
            </div>
            <div class="pointer sm-mr2">
              <a href="#shop" id="goToShop" class="goToShop btn regular btn-outline h5 sm-h4 white">shop</a>
            </div>
            <div class="pointer">
              <a href="/about" class="btn regular h5 sm-h4 white hover-underline">about</a>
            </div>
            <div class="pointer">
              <a href="/contact" class="btn regular h5 sm-h4 white hover-underline">contact</a>
            </div>
          </div>
        </nav>

      </header>
