<header class="col-12 p2 container flex align-items-center justify-center sm-align-start sm-justify-between">

        <div class="sm-show">
          <a href="/">
            <img src="/images/Azellaz_Logo_Soft_Black_v6.svg" class="w-45px md-w-55px" alt="">
          </a>
        </div>

        <nav class="flex flex-center">
          <div class="flex justify-between align-items-center">
            <div class="sm-hide">
              <a href="/">
                <img src="/images/Azellaz_logo_short_soft_black_by_Thom_01.svg" alt="Azellaz logo" title="Azellaz logo" class="btn height2r">
              </a>
            </div>
            <div class="pointer sm-mr2">
              <a href="/index.html#shop" class="btn regular btn-outline h5 sm-h4 light-black">shop</a>
            </div>
            <div class="pointer">
              <a href="/about" class="btn regular h5 sm-h4 light-black hover-underline{% if page.url == '/about/' %} underline cursor-default{% endif %}">about</a>
            </div>
            <div class="pointer">
              <a href="/contact" class="btn regular h5 sm-h4 light-black hover-underline{% if page.url == '/contact/' %} underline cursor-default{% endif %}">contact</a>
            </div>
          </div>
        </nav>

      </header>
