<div class="ml1 mb1 clearfix blue filters-button-group filter-buttons">
  <button type="button" class="left btn btn-outline border-dark-gray bagBlue3 rounded-left" data-filter="*">Show All</button>
  <button type="button" class="left btn btn-outline border-dark-gray bagBlue3 not-rounded" data-filter=".duffel">Duffel</button>
  <button type="button" class="left btn btn-outline border-dark-gray bagBlue3 not-rounded" data-filter=".tote">Tote</button>
  <button type="button" class="left btn btn-outline border-dark-gray bagBlue3 not-rounded" data-filter=".handBag">Hand Bag</button>
  <button type="button" class="left btn btn-outline border-dark-gray bagBlue3 not-rounded" data-filter=".purse">Purse</button>
  <button type="button" class="left btn btn-outline border-dark-gray bagBlue3 not-rounded" data-filter=".wallet">Wallet</button>
  <button type="button" class="left btn btn-outline border-dark-gray bagBlue3 rounded-right" data-filter=".earbuds">Earbuds</button>
</div>
