<div class="ml1 mb1 clearfix blue filters-button-group filter-buttons">
          <button type="button" class="left btn btn-outline border-dark-gray bagBlue3 rounded-left" data-filter="*">Show All</button>
          <button type="button" class="left btn btn-outline border-dark-gray bagBlue3 not-rounded" data-filter=".duffel">Duffel</button>
          <button type="button" class="left btn btn-outline border-dark-gray bagBlue3 not-rounded" data-filter=".tote">Tote</button>
          <button type="button" class="left btn btn-outline border-dark-gray bagBlue3 not-rounded" data-filter=".handBag">Cross body</button>
          <button type="button" class="left btn btn-outline border-dark-gray bagBlue3 not-rounded" data-filter=".clutch">Clutch</button>
        </div>
