<div class="flex flex-column align-items-center">
<div class="mb2 flex flex-column sm-flex-row blue filters-button-group filter-buttons">
          <button type="button" class="flex-basis-50per btn btn-outline border-dark-gray bagBlue3 rounded-left is-active" data-filter="*">Show All</button>
          <button type="button" class="flex-basis-50per btn btn-outline border-dark-gray bagBlue3 not-rounded" data-filter=".duffel">Duffel</button>
          <button type="button" class="flex-basis-50per btn btn-outline border-dark-gray bagBlue3 not-rounded" data-filter=".tote">Tote</button>
          <button type="button" class="flex-basis-50per btn btn-outline border-dark-gray bagBlue3 not-rounded" data-filter=".handBag">Cross body</button>
          <button type="button" class="flex-basis-50per btn btn-outline border-dark-gray bagBlue3 rounded-right" data-filter=".clutch">Clutch</button>
        </div>
</div>
