<title>{{ product.displayName }} by Azellaz</title>
<meta name="description" content="{{ product.descriptionShort }}" />
<meta name="author" content="Abbie Zelip" />
<meta name="author" content="Brian Zelip" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@AbiSackmann" />
<meta name="twitter:title" content="{{ product.displayName }} by Azellaz" />
<meta
  name="twitter:image:alt"
  content="{{ product.displayName }} by Azellaz. {{ product.descriptionShort }}"
/>
<meta name="twitter:description" content="{{ product.descriptionShort }}" />
<meta
  name="twitter:image"
  content="{{ site.base_url }}{{ site.product_images_dir }}{{
    product.imgPrimary
  }}"
/>
<meta property="og:url" content="{{ site.base_url }}{{ product.slug }}/" />
<meta property="og:type" content="product" />
<meta property="og:title" content="{{ product.displayName }} by Azellaz" />
<meta property="og:description" content="{{ product.descriptionShort }}" />
<meta
  property="og:image"
  content="{{ site.base_url }}{{ site.product_images_dir }}{{
    product.imgPrimary
  }}"
/>
