<title>Contact Azellaz</title>
<meta
  name="description"
  content="Quality bags built from scratch in Baltimore."
/>
<meta name="author" content="Abbie Zelip" />
<meta name="author" content="Brian Zelip" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@AbiSackmann" />
<meta name="twitter:title" content="Contact Azellaz" />
<meta name="twitter:image:alt" content="{{ site.tagline }}" />
<meta name="twitter:description" content="Get in touch with Azellaz.com." />
<meta
  name="twitter:image"
  content="{{ site.base_url }}{{ site.meta_home_page_image }}"
/>
<meta property="og:url" content="{{ site.base_url }}contact/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Contact Azellaz" />
<meta property="og:description" content="Get in touch with Azellaz.com." />
<meta
  property="og:image"
  content="{{ site.base_url }}{{ site.meta_home_page_image }}"
/>
