<title>About Azellaz</title>
<meta name="description" content="Quality bags built from scratch in Baltimore.">
<meta name="author" content="Abbie Zelip">
<meta name="author" content="Brian Zelip">
<meta name="keywords" content="">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@AbiSackmann">
<meta name="twitter:title" content="About Azellaz">
<meta name="twitter:image:alt" content="Azellaz workspace">
<meta name="twitter:description" content="About Azellaz.com, including tips on caring for your bag made by Azellaz.">
<meta name="twitter:image" content="{{ site.base_url }}{{ site.images_dir }}Azellaz-work-bench.jpg">
<meta property="og:url" content="{{ site.base_url }}about/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="About Azellaz" />
<meta property="og:description" content="About Azellaz.com, including tips on caring for your bag made by Azellaz." />
<meta property="og:image" content="{{ site.base_url }}{{ site.images_dir }}Azellaz-work-bench.jpg" />
