<title>Azellaz Portfolio</title>
<meta name="description" content="Quality bags built from scratch in Baltimore.">
<meta name="author" content="Abbie Zelip">
<meta name="author" content="Brian Zelip">
<meta name="keywords" content="">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@AbiSackmann">
<meta name="twitter:title" content="Azellaz Portfolio">
<meta name="twitter:image:alt" content="{{ site.tagline }}">
<meta name="twitter:description" content="Portfolio of Azellaz bags.">
<meta name="twitter:image" content="{{ site.base_url }}{{ site.product_images_dir }}{{ site.featured_bag_image }}">
<meta property="og:url" content="{{ site.base_url }}portfolio/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Azellaz Portfolio" />
<meta property="og:description" content="Portfolio of Azellaz bags." />
<meta property="og:image" content="{{ site.base_url }}{{ site.product_images_dir }}{{ site.featured_bag_image }}" />
