<header class="col-12 p2 container flex align-items-center justify-center sm-align-start sm-justify-between">

        <div class="sm-show">
          <a href="/">
            <img src="images/Azellaz_Logo_{% if page.layout == 'blog' %}Soft_Black{% else %}White{% endif %}_v6.svg" class="w-45px md-w-55px" alt="">
          </a>
        </div>

        <nav class="flex flex-column flex-center">
          <div class="sm-hide">
            <a href="/" class="cursor-default {% if page.layout == 'blog' %}black{% else %}white{% endif %}">
              <h1 class="m0 h1 small-caps">azellaz</h1>
            </a>
          </div>
          <div class="flex justify-between">
            <div class="pointer sm-mr2">
              <a href="#shop" id="goToShop" class="goToShop btn regular btn-outline h5 sm-h4 {% if page.layout == 'blog' %}black{% else %}white{% endif %}">shop</a>
            </div>
            <div class="pointer">
              <a href="#" class="btn regular h5 sm-h4 {% if page.layout == 'blog' %}black{% else %}white{% endif %} hover-underline">about</a>
            </div>
            <div class="pointer">
              <a href="#" class="btn regular h5 sm-h4 {% if page.layout == 'blog' %}black{% else %}white{% endif %} hover-underline">contact</a>
            </div>
          </div>
        </nav>

      </header>
