<section id="portfolio" class="mb3 md-mb4">
  <div class="p2 center serif light-black">
    <h1 class="mt0 serif">Portfolio</h1>
    <p>
      This page includes photos of past work only. Current bags are available in
      <a href="/index.html#shop" class="light-black underline">our shop</a>.
    </p>
  </div>
  <div class="container">
    {% include portfolio-grid.html %}
    {% include fixed-logo.html %}
  </div>
</section>

<script>
  // TODO: fade in logo when user scrolls the header logo out of site
  const logo = document.querySelector(".fixed-logo-show");
</script>
