<div class="vh100 container mb1 md-mb0">

  <div class="col md-col-7 p2">
    <div class="sm-hide"><!-- have to double up this component because ie's lack of flexbox column support -->
      {% include product-thumbnails.html %}
    </div>

    <div>
      <img id="large-image-view" src="/images/launch-photos-edited-imageOptimized/{{ product.imgFront }}" class="mbn1" alt="Front view of the {{ product.name }} bag by Azellaz.com" title="{{ product.name }} front"/>
    </div>

    <div class="sm-show"><!-- have to double up this component because ie's lack of flexbox column support -->
      {% include product-thumbnails.html %}
    </div>
  </div>

  <div class="col md-col-5 p2">
    <h1 class="m0 h2 serif light-black">{{ product.name }}</h1>
    <p class="h2 serif light-black">${{ product.price }}</p>
    <p class="serif light-black">{{ product.descriptionLong }}</p>
    <p class="serif light-black"><span class="red">*</span><strong>Availability:</strong> {% if product.inStock %}{{ site.in_stock }}{% else %}{{ site.made_to_order }}{% endif %}</p>
    <div class="md-mt4">
      <button
        class="col-12 md-width-auto btn btn-outline fw200 light-black snipcart-add-item"
        data-item-id="{{ product.id }}"
        data-item-name="{{ product.name }}"
        data-item-price="{{ product.price }}"
        data-item-weight="{{ product.weight }}"
        data-item-height="{{ product.height }}"
        data-item-width="{{ product.width }}"
        data-item-length="{{ product.length }}"
        data-item-url="{{ product.url }}"
        data-item-description="{{ product.descriptionShort }}">
        Add to Cart
      </button>
    </div>
  </div>
</div>


<script>
  const largeImage = document.getElementById('large-image-view');
  const thumbnails = document.querySelectorAll('.thumb');


  // es6 way that is not being used
  // Array
  //   .from(thumbnails)
  //   .forEach((thumbnail) => thumbnail.addEventListener('click', showLargeImage));

  // es5 way because ie 11
  []
    .forEach
    .call(thumbnails,function(thumbnail) {
      thumbnail.addEventListener('click', showLargeImage, false)
    });

  function showLargeImage(e) {
    largeImage.src = this.src;
  }

</script>
