<div class="vh100 container flex justify-end">

  <!-- <div id="logo" class="fixed left-0 ml2 mt2 top-0" style="">
    <a href="/index.html#shop" class="hover-no-underline">
      <div>
        <img src="/images/Azellaz_Logo_Soft_Black_v6.svg" class="" alt="" width="">
        <span class="block h5 center light-black">← return</span>
      </div>
    </a>
  </div> -->

  <div class="col-7 p2 flex flex-column">
    <!-- <nav>
      <p>category 1 > category 2 > final</p>
    </nav> -->
    <div>
      <img src="/images/launch-photos-edited-imageOptimized/{{ product.imgFront }}" class="mbn1" alt="Front view of the {{ product.name }} bag by Azellaz.com" title="{{ product.name }} front"/>
    </div>

    <div class="flex flex-row py2 mxn1">
      {% if product.imgFront != '' %}
      <div class="flex-auto ml1 mr1">
        <img src="/images/launch-photos-edited-imageOptimized/{{ product.imgFront }}" alt="Front view of the {{ product.name }} bag by Azellaz.com" title="{{ product.name }} front"/>
      </div>
      {% endif %}
      {% if product.imgBack != '' %}
      <div class="flex-auto ml1 mr1">
        <img src="/images/launch-photos-edited-imageOptimized/{{ product.imgBack }}" alt="Back view of the {{ product.name }} bag by Azellaz.com" title="{{ product.name }} back"/>
      </div>
      {% endif %}
      {% if product.imgSide != '' %}
      <div class="flex-auto ml1 mr1">
        <img src="/images/launch-photos-edited-imageOptimized/{{ product.imgSide }}" alt="Side view of the {{ product.name }} bag by Azellaz.com" title="{{ product.name }} side"/>
      </div>
      {% endif %}
      {% if product.imgInside != '' %}
      <div class="flex-auto ml1 mr1">
        <img src="/images/launch-photos-edited-imageOptimized/{{ product.imgInside }}" alt="Inside view of the {{ product.name }} bag by Azellaz.com" title="{{ product.name }} inside"/>
      </div>
      {% endif %}
    </div>
  </div>

  <div class="col-5 p2">
    <h1 class="m0 h2 serif light-black">{{ product.name }}</h1>
    <p class="h2 serif light-black">${{ product.price }}</p>
    <p class="serif light-black">{{ product.descriptionLong }}</p>
    <p class="serif light-black"><span class="red">*</span>Made to order, ships in 2-3 weeks.</p>
    <div class="mt4">
      <button
        class="btn btn-outline fw200 light-black snipcart-add-item"
        data-item-id="{{ product.id }}"
        data-item-name="{{ product.name }}"
        data-item-price="{{ product.price }}"
        data-item-weight="{{ product.weight }}"
        data-item-height="{{ product.height }}"
        data-item-width="{{ product.width }}"
        data-item-length="{{ product.length }}"
        data-item-url="{{ product.url }}"
        data-item-description="{{ product.descriptionShort }}">
        Add to Cart
      </button>
    </div>
  </div>
</div>
