<div class="py1 sm-py2 mxn1 flex align-items-end sm-align-items-start">
  {%- comment -%} Include imgPrimary in thumbnails first {%- endcomment -%}
  {% if page.imgPrimary != '' %}
  <div class="col col-sevenths px1">
    <img
      class="border pointer thumb"
      src="{{ site.cloudinary }}{{ site.trnsfrm_med }}{{ page.imgPrimary }}"
      alt="{{ page.imgPrimary | remove: page.slug | remove_first: "-" | remove: "-by-Azellaz" | capitalize }} view of the {{ page.displayName }} by Azellaz"
      title="{{ page.imgPrimary | remove: page.slug | remove_first: "-" | remove: "-by-Azellaz" | capitalize }} view of the {{ page.displayName }} by Azellaz"
    />
  </div>
  {% endif %}
  {% for img in page.imgSecondarySet %}
  <div class="col col-sevenths px1">
    <img
      class="border pointer thumb"
      src="{{ site.cloudinary }}{{ site.trnsfrm_med }}{{ img }}"
      alt="{{ img | remove: page.slug | remove_first: "-" | remove: "-by-Azellaz" | capitalize }} view of the {{ page.displayName }} by Azellaz"
      title="{{ img | remove: page.slug | remove_first: "-" | remove: "-by-Azellaz" | capitalize }} view of the {{ page.displayName }} by Azellaz"
    />
  </div>
  {% endfor %}
</div>
