<div class="py1 sm-py2 mxn1 flex align-items-end sm-align-items-start">
  {% if product.imgFront != '' %}
  <div class="col col-3 px1">
    <img class="border pointer thumb" src="/{{ site.product_images_dir }}{{ product.imgFront }}" alt="Front view of the {{ product.name }} bag by Azellaz.com" title="{{ product.name }} front"/>
  </div>
  {% endif %}
  {% if product.imgBack != '' %}
  <div class="col col-3 px1">
    <img class="border pointer thumb" src="/{{ site.product_images_dir }}{{ product.imgBack }}" alt="Back view of the {{ product.name }} bag by Azellaz.com" title="{{ product.name }} back"/>
  </div>
  {% endif %}
  {% if product.imgSide != '' %}
  <div class="col col-3 px1">
    <img class="border pointer thumb" src="/{{ site.product_images_dir }}{{ product.imgSide }}" alt="Side view of the {{ product.name }} bag by Azellaz.com" title="{{ product.name }} side"/>
  </div>
  {% endif %}
  {% if product.imgInside != '' %}
  <div class="col col-3 px1">
    <img class="border pointer thumb" src="/{{ site.product_images_dir }}{{ product.imgInside }}" alt="Inside view of the {{ product.name }} bag by Azellaz.com" title="{{ product.name }} inside"/>
  </div>
  {% endif %}
  {% if product.imgFront == '' %}
  <div class="col col-3 px1">
    <img src="/images/blank_thumb_2200x2600.png" alt="transparent image" title="small transparent image"/>
  </div>
  {% endif %}
  {% if product.imgBack == '' %}
  <div class="col col-3 px1">
    <img src="/images/blank_thumb_2200x2600.png" alt="transparent image" title="small transparent image"/>
  </div>
  {% endif %}
  {% if product.imgSide == '' %}
  <div class="col col-3 px1">
    <img src="/images/blank_thumb_2200x2600.png" alt="transparent image" title="small transparent image"/>
  </div>
  {% endif %}
  {% if product.imgInside == '' %}
  <div class="col col-3 px1">
    <img src="/images/blank_thumb_2200x2600.png" alt="transparent image" title="small transparent image"/>
  </div>
  {% endif %}
</div>
