<div class="mx1 mb2 h6 sm-h4 flex justify-center blue filters-button-group filter-buttons x-btn-group">
          <button type="button" class="btn btn-filter btn-outline border-dark-gray navy rounded-left is-active" data-filter="[data-type]">All Types</button>
          <button type="button" class="btn btn-filter btn-outline border-dark-gray navy not-rounded" data-filter="[data-type='duffle']">Duffle</button>
          <button type="button" class="btn btn-filter btn-outline border-dark-gray navy not-rounded" data-filter="[data-type='tote']">Tote</button>
          <button type="button" class="btn btn-filter btn-outline border-dark-gray navy not-rounded before-crossbody" data-filter="[data-type='crossbody']">body</button>
          <button type="button" class="btn btn-filter btn-outline border-dark-gray navy not-rounded before-backpack" data-filter="[data-type='backpack']">pack</button>
          <button type="button" class="btn btn-filter btn-outline border-dark-gray navy not-rounded" data-filter="[data-type='pouch']">Pouch</button>
          <button type="button" class="btn btn-filter btn-outline border-dark-gray navy rounded-right" data-filter="[data-type='clutch']">Clutch</button>
        </div>

        <div class="mx1 mb2 h6 sm-h4 flex justify-center blue filters-button-group filter-buttons x-btn-group">
          <button type="button" class="btn btn-filter btn-outline border-dark-gray navy rounded-left is-active" data-filter="[data-material]">All Materials</button>
          <button type="button" class="btn btn-filter btn-outline border-dark-gray navy not-rounded" data-filter="[data-material='felt']">Felt</button>
          <button type="button" class="btn btn-filter btn-outline border-dark-gray navy not-rounded" data-filter="[data-material='leather']">Leather</button>
          <button type="button" class="btn btn-filter btn-outline border-dark-gray navy rounded-right" data-filter="[data-material='waxed canvas']">Waxed Canvas</button>
        </div>

