<div class="col-12 sm-col-6 md-col-4 py-quarter px1 sm-p1 iso-item {{ product.type }}">
            <div class="ih-item circle effect13 from_left_and_right not-rounded">
              <a href="{{ product.slug }}">
                <div class="img">
                  <img src="images/launch-photos-edited-imageOptimized/{{ product.imgFront }}" class="mbn1" alt="">
                </div>
                <div class="info overflow-hidden">
                  <div class="info-back">
                    <h3 class="name">{{ product.name }}</h3>
                    <p>$<span class="price">{{ product.price }}</span></p>
                  </div>
                </div>
              </a>
            </div>
          </div>
