<div class="mx1 mb2 h6 sm-h4 flex justify-center blue filter-buttons-group filter-buttons x-btn-group" data-filter-group="type">
          <button type="button" class="btn btn-filter btn-outline border-dark-gray navy rounded-left is-active" data-filter="*">All Types</button>
          <button type="button" class="btn btn-filter btn-outline border-dark-gray navy not-rounded" data-filter="[data-type='duffle']">Duffle</button>
          <button type="button" class="btn btn-filter btn-outline border-dark-gray navy not-rounded" data-filter="[data-type='tote']">Tote</button>
          <button type="button" class="btn btn-filter btn-outline border-dark-gray navy not-rounded before-crossbody" data-filter="[data-type='crossbody']">body</button>
          <button type="button" class="btn btn-filter btn-outline border-dark-gray navy not-rounded before-backpack" data-filter="[data-type='backpack']">pack</button>
          <button type="button" class="btn btn-filter btn-outline border-dark-gray navy not-rounded" data-filter="[data-type='pouch']">Pouch</button>
          <button type="button" class="btn btn-filter btn-outline border-dark-gray navy rounded-right" data-filter="[data-type='clutch']">Clutch</button>
        </div>

        <div class="mx1 mb2 h6 sm-h4 flex justify-center blue filter-buttons-group filter-buttons x-btn-group" data-filter-group="materials">
          <button type="button" class="btn btn-filter btn-outline border-dark-gray navy rounded-left is-active" data-filter="*">All Materials</button>
          <button type="button" class="btn btn-filter btn-outline border-dark-gray navy not-rounded" data-filter="[data-materials~='felt']">Felt</button>
          <button type="button" class="btn btn-filter btn-outline border-dark-gray navy not-rounded" data-filter="[data-materials~='leather']">Leather</button>
          <button type="button" class="btn btn-filter btn-outline border-dark-gray navy rounded-right" data-filter="[data-materials~='canvas']">Waxed Canvas</button>
        </div>

