.bagBlue { color: rgb(146,190,209); }

.bagBlue2 { color: rgb(80,121,140); }

.bagBlue3 { color: rgb(103,151,171); }

.navy { color: rgb(36, 56, 83); }

.bg-gray { background-color: rgb(227, 227, 227); }
.border-gray { border-color: rgb(227, 227, 227); }
.border-black { border-color: #111; }
.border-silver { border-color: #ddd; }
.border-dark-gray { border-color: #aaa; }
.border-red { border-color: #FF4136; }
.border-blue { border-color: #0074D9 }
.border-black { border-color: #000 }
.dark-gray { color: #aaa; }
.light-black { color: #3a3a3a; }
.transparent { color: transparent; }
