---
---
<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="css/basscss@7.1.1.min.css">
    <link rel="stylesheet" href="css/ihover.CUSTOM.css">
    <link rel="stylesheet" href="css/az.css">
    <title>Azellaz</title>
    <meta name="description" content="">
    <meta name="author" content="Abbie Zelip">
    <meta name="author" content="Brian Zelip">
    <meta name="keywords" content="">
  </head>

  <body>

    {% include header-main.html %}

    <section>
      <div class="container">
        <h2 class="center">from the desk of Azellaz...</h2>
      </div>
    </section>

  </body>

</html>
